.customP{
	text-align: right; margin-top: 20px;
}
.box{
	width:100%;
	height:100px;
background-image:url("/public/img/wallpaper.jpg");

}

.center{
	margin: 200px auto auto auto;
}

.search-box{
	margin-top: 150px !important;
}

.info{
	margin-top: 50px;
}
.tx{
text-align: center;
}
.custom-table{
	text-align: center;

}
.custom-table thead {
	text-align: center;
}
.nav-item {
	margin-left:  20px !important;
}