.customP{
	text-align: right; margin-top: 20px;
}
.box{
	width:100%;
	height:100px;
background-image:url("/public/img/wallpaper.jpg");

}

.center{
	margin: 200px auto auto auto;
}

.search-box{
	margin-top: 150px !important;
}
